<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/imports.js" defer></script>
    <script src="../js/horizontalScrolling.js" defer></script>
    <script src="../js/getServers.js" defer></script>
    <script src="../js/createServer.js" defer></script>
    <title>Main</title>
</head>

<body>
    <header>
        <h2>Backwards' MASI</h2>
        <div class="controls">
            <button id="min">&minus;</button>
            <button id="max">&square;</button>
            <button id="close">&times;</button>
        </div>
    </header>
    <nav class="inline" id="H-Scroll">
        <a id="createServer">New Server</a>
        <ul id="nav-ul">
        </ul>
    </nav>
    <main>
        <div id="createServerPanel" class="createServerPanel">
            <form action="createServer" class="createServerForm" method="POST">
                <h3>Create Server</h3>
                <fieldset>
                    <legend>Server Options</legend>
                    <div class="inputs">
                        <input type="text" placeholder="Server Name" required>
                        <select name="Versions" id="versions" required>
                            <option value="null" hidden>Versions</option>
                            <option value="1.19.4">1.19.4</option>
                        </select>
                    </div>
                </fieldset>
            </form>
        </div>
    </main>
</body>

</html>