<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/horizontalScrolling.js" defer></script>
    <script src="../js/getServers.js" defer></script>
    <title>Document</title>
</head>
<body>
    <header>
        <h2>Backwards' MASI</h2>
        <div class="controls">
            <button id="min">&minus;</button>
            <button id="max">&square;</button>
            <button id="close">&times;</button>
        </div>
    </header>
    <nav class="inline" id="H-Scroll">
        <a>New Server</a>
        <ul id="nav-ul">
        </ul>
    </nav>
    <main></main>
</body>
</html>