@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");


:root {
    --text: #fff;
    --background: #1a1a1a;
    --hover-effect: #212121;
    --primary-btn: #482b73;
    --secondary-btn: #f2f2f2;
    --accent: #5900ff;
}


* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    overflow-y: hidden;
    outline: none;
}

*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--background);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 20px;
    border: 3.5px solid var(--background);
}

*::-webkit-scrollbar-thumb:active {
    border: 2.5px solid var(--background);
}

body {
    background-color: var(--background);
}

header {
    display: flex;
    background-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    justify-content: space-between;
    height: 2em;
    color: var(--text);
}

header p {
    padding: 0 0.5em;
    margin: auto 0;
}

nav {
    position: sticky;
    color: var(--text);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 2px outset var(--accent);
    border-top: 1px outset var(--accent);
    
}

nav * {
    flex-shrink: 0;
}

nav a {
    width: max-content;
}

#nav-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: auto;
    margin: auto 0;
}

#nav-ul li {
    display: inline;
    list-style-type: none;
    padding: auto;
    margin: 0 0.25em;
    width: max-content;
    padding: 0.5em 0.75em;
}

.server {
    padding: auto;
}

#createServer {
    position: sticky;
    left: 0;
    padding: 0.5em;
    background-color: var(--background);
    box-shadow: 1px 1px 1em var(--background);
    border-right: 1px solid var(--hover-effect);
    border-bottom: 1px solid var(--hover-effect);
}

#createServer:hover, #createServer:focus {
    background-color: var(--hover-effect);
}

.nav-item {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.nav-item:hover {
    background-color: var(--hover-effect);
}

.controls {
    height: 100%;
    color: var(--text);
}

.controls button {
    -webkit-app-region: none;
    font-size: 1.5em;
    border: none;
    background-color: transparent;
    height: 100%;
    aspect-ratio: 1/1;
    margin: 0;
    gap: 0;
    transition-duration: 250ms;
    cursor: pointer;
    color: var(--text);
}


.controls #max {
    line-height: -200px;
}

.controls #min:hover, .controls #max:hover, .controls #min:focus, .controls #max:focus {
    background-color: var(--primary-btn);
}

.controls #close:hover, .controls #close:focus {
    background-color: #853232;
    color: var(--background);
}

.createServerPanel {
    width: 50%;
    background-color: var(--background);
    padding: 20px;
    border-radius: 0 0 10px 0;
    color: var(--text);
    border-bottom: 1px outset var(--accent);
    border-right: 1px outset var(--accent);
    transform: translateY(-240px);
    transition-duration: 250ms;
}

.open {
    transform: translateY(0px);
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputs * {
    width: 25%;
    margin: 0.5em 0.5em;
}

.header-img {
    padding: 2px;
    border-radius: 50%;
}