<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/imports.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/getVersions.js"></script>
    <script src="../js/horizontalScrolling.js" defer></script>
    <script src="../js/getServers.js" defer></script>
    <script src="../js/createServer.js" defer></script>
    <script src="../js/controls.js" defer></script>
    <title>Minecraft Advanced Server Interface</title>
</head>

<body>
    <header>
        <img src="../../../assets/icons/bakies.ico" alt="NA" class="header-img" id="header-img" onerror="appIconFailure(this)">
        <div class="controls">
            <button tabindex="1" id="min" onclick="controller(this)">&minus;</button>
            <button tabindex="2" id="max" onclick="controller(this)">&square;</button>
            <button tabindex="3" id="close" onclick="controller(this)">&times;</button>
        </div>
    </header>
    <nav class="inline" id="H-Scroll">
        <a tabindex="4" id="createServer" class="nav-item">New Server</a>
        <ul id="nav-ul">
        </ul>
    </nav>
    <main>
        <div id="createServerPanel" class="createServerPanel">
            <form action="createServer" class="createServerForm" method="POST">
                <h3>Create Server</h3>
                <fieldset>
                    <legend>Server Options</legend>
                    <div class="inputs">
                        <input tabindex="-1" type="text" placeholder="Server Name" name="servername" id="servername" required>
                        <input tabindex="-1" type="number" placeholder="Port" name="port" id="port">
                        <select tabindex="-1" name="Versions" id="versions" required>
                            <option value="null" hidden selected>Version</option>
                        </select>
                    </div>
                </fieldset>
            </form>
        </div>
    </main>
</body>

</html>