<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/imports.js"></script>
    <script src="../js/getVersions.js"></script>
    <script src="../js/horizontalScrolling.js" defer></script>
    <script src="../js/getServers.js" defer></script>
    <script src="../js/createServer.js" defer></script>
    <script src="../js/controls.js" defer></script>
    <title>Minecraft Advanced Server Interface</title>
</head>

<body>
    <header>
        <p>MASI</p>
        <div class="controls">
            <button id="min" onclick="controller(this)">&minus;</button>
            <button id="max" onclick="controller(this)">&square;</button>
            <button id="close" onclick="controller(this)">&times;</button>
        </div>
    </header>
    <nav class="inline" id="H-Scroll">
        <a id="createServer" class="nav-item">New Server</a>
        <ul id="nav-ul">
        </ul>
    </nav>
    <main>
        <div id="createServerPanel" class="createServerPanel">
            <form action="createServer" class="createServerForm" method="POST">
                <h3>Create Server</h3>
                <fieldset>
                    <legend>Server Options</legend>
                    <div class="inputs">
                        <input type="text" placeholder="Server Name" required>
                        <input type="number" placeholder="Port">
                        <select name="Versions" id="versions" required>
                        </select>
                    </div>
                </fieldset>
            </form>
        </div>
    </main>
</body>

</html>