@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    overflow-y: hidden;
}

*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: #cacaca;
    /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: #8a8a8a;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 2px solid #cacaca;
    /* creates padding around scroll thumb */
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #aaaaaa;
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    justify-content: space-between;
    height: max-content;
    padding: 0.5em 0.5em;
}

nav {
    position: sticky;
    background-color: #bababa;
    padding: 0.5em 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav * {
    flex-shrink: 0;
}

nav a {
    width: max-content;
}

#nav-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: auto;
}

#nav-ul li {
    width: fit-content;
    display: inline;
    list-style-type: none;
    margin: 0 1em;
    width: max-content;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.bottom {
    box-shadow: 0 0 1em #aaaaaa;
}

.controls {
    height: 100%;
}

.controls button {
    height: 100%;
    padding: 0.5em;
}
